django
djangorestframework
django-cors-headers
python-decouple
psycopg2-binary
celery
redis
ibm-watsonx-ai
PyGithub
astpretty
networkx
python-jose
requests
factory-boy
pytest
pytest-django
pytest-playwright
coverage